/* Tab hide based on https://mrotherguy.github.io/firefox-csshacks/?file=autohide_tabstoolbar.css */
#nav-bar {
    margin-bottom: 3px !important;
  }
  
  :root:not([customizing]) #navigator-toolbox{
    position: relative !important;
    z-index: 1;
  }
  
  #navigator-toolbox:not(:hover) > #titlebar{
    -moz-window-dragging: no-drag !important;
    pointer-events: none
  }
  
  :root:not([customizing]),
  :root:not([customizing]) #titlebar{
    margin-bottom: calc(0px - 2 * var(--tab-block-margin) - var(--tab-min-height)) !important;
  }
  #TabsToolbar:not([customizing]){ visibility: hidden; transition: visibility 0ms linear 450ms }

/* Hide native tab bar */
#tabbrowser-tabs {
    visibility: collapse;
}
#TabsToolbar{
    display: none;
}
  
  /* #navigator-toolbox, */
  /* #titlebar{ transition: margin-bottom 48ms linear 450ms } */
  /*  */
  /* #navigator-toolbox:hover{ transition-delay: 0s } */
  /* #navigator-toolbox:hover > #titlebar{ */
  /*   margin-bottom: 0px !important; */
  /*   transition-delay: 0s; */
  /* } */
  /*  */
  /* #navigator-toolbox:hover #TabsToolbar{ */
  /*   visibility: visible; */
  /*   transition-delay: 18ms; */
  /* } */
  /* These rules make sure that height of tabs toolbar doesn't exceed tab-min-height */
  /* #tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container{ */
  /*   max-height: var(--tab-min-height) !important; */
  /* } */
  /* .tab-label{ line-height: 20px !important; } */
  /* :root[uidensity="compact"] .tab-label{ line-height: 18px !important; } */



